*{
    text-align: center;
}
h1{
    color: white;
    text-transform: capitalize;
}
body{
    background-color: rgb(7, 33, 82);
}
input{
    width: 170px;
    height: 30px;
}
button{
    background-color: rgb(43, 144, 226);
    width: 180px;
    height: 30px;
}
#guesses{
    color: white;
}